@media only screen and (max-width: 768px) {
    .page-layout {
        min-height: calc(100vh - 8.8rem);
        padding: 8.8rem 2.4rem 3rem;
        text-align: center;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .page-layout {
        padding: 4rem 2.4rem 0;
        text-align: start;
        min-height: calc(100vh - 9.8rem);
    }
}

@media only screen and (min-width: 1440px) {
    .page-layout {
        padding: 5.2rem 16rem;
        height: calc(100vh - 13.8rem);

        .subheading-1 {
            padding-left: .7rem;
        }

    }


}