.main-layout {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 375px) {
    .main-layout {
        &:is(.home-background) {
            background-image: url("../../assets/images/home/background-home-mobile.jpg");
        }
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .main-layout {
        &:is(.home-background) {
            background-image: url("../../assets/images/home/background-home-tablet.jpg");
        }
    }
}

@media screen and (min-width: 769px) {
    .main-layout {
        &:is(.home-background) {
            background-image: url("../../assets/images/home/background-home-desktop.jpg");
        }
    }
}